@font-face {
	font-family: Amon;
	src: url('../../../style/Amon.ttf');
}
@font-face{
	font-family: AmonIE;
	src: url('../../../style/Amon.eot');
}
@font-face{
	font-family: Fruit;
	src: url('../../../style/Fruit.ttf');
}
@font-face{
	font-family: FruitIE;
	src: url('../../../style/Fruit.eot');
}
body{
	font-family: Fruit, FruitIE;
}
.homeTitre{
	font-family: Amon, AmonIE;
}
#leftSide{
	width: 55%;
	height: 100%;
	left: 0px;
}
#rightSide{
	width: 45%;
	height: 100%;
	right: 0px;
}
#right_side img{
	right: 0px;
	top: 0px;
	width: 100%;
	visibility: visible;
	width: 100%;
	min-width: 160px;
	max-width: 1920px;
}
#firstLine {
	width:100%;
}
#firstLine h1{
	color: #e8e8e8;
	font-size: 550%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 66%;
	display: inline-block;
}
#micro{
/*	background-image: url("../images/micro.png");*/
	display: inline-block;
	width: 33%;
	padding-top: 5%;
}
#secondLine{
	top: 10%;
	width: 100%;
}
#secondLine h1{
	width: 60%;
	display: inline-block;
	color: #e8e8e8;
	font-size: 500%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
}
#quatreLogos{
	/*background-image: url("../images/quatreLogos.png");*/
	display: inline-block;
	width: 36%;
}
quatreLogos img{
	width: 90%;
}
#thirdBlock{
	top: 20%;
	height: 80%;
	width: 100%;
}
#firstPart{
	width: 66%;
	left: 0%;
	height: 100%;
}
#firstColumn{
	width: 50%;
	left: 0%;
}
#firstColumn h2{
	font-size: 79%;
	font-weight: bold;
}
#firstColumn p{
	font-size: 60%;
}
#enceinte{
	width: 80%;
	margin-left: 10%;
}
#secondColumn{
	width: 50%;
	left: 50%;
}
#secondColumn h2{
	font-size: 79%;
	font-weight: bold;
	color: #ea690b;
}
#logoPrincipe{
	width: 90%;
}
#bottomSubPart{
	top: 80%;
}
#bottomSubPart h1{
	font-size: 550%;
	margin-left: 3%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #e8e8e8;
}
#secondPart{
	width: 34%;
	left: 66%;
	height: 100%;
}
#secondPart h2{
	font-size: 79%;
	font-weight: bold;
}
#secondPart h3{
	font-size: 70%;
	font-weight: bold;
}
#secondPart p{
	font-size: 60%;
}
#casque{
	width: 80%;
}