<div id="frames">
	<div id="frame1" class="frame" data-dojo-attach-point="frame1"></div>
    <div id="frame2" class="frame" data-dojo-attach-point="frame2"></div>
    <div id="frame3" class="frame" data-dojo-attach-point="frame3"></div>
    <div id="frame4" class="frame" data-dojo-attach-point="frame4"></div>
    <div id="frame5" class="frame" data-dojo-attach-point="frame5"></div>
    <div id="frame6" class="frame" data-dojo-attach-point="frame6"></div>
    <div id="frame7" class="frame" data-dojo-attach-point="frame7"></div>
</div>