<div>
	<span id="sqHome" class="squareMenu selected" ></span>
	<span id="sqProject" class="squareMenu" ></span>
	<span id="sqRenacle" class="squareMenu" ></span>
	<span id="sqBio" class="squareMenu" ></span>
	<span id="sqLink" class="squareMenu" ></span>
	<span id="sqContact" class="squareMenu" ></span>
</div>