<span data-dojo-type="dijit.MenuBar" tabIndex="0"><span data-dojo-type="dijit.PopupMenuBarItem" label="Menu 1" iconClass="dijitNoIcon"><span data-dojo-type="dijit.Menu"><span data-dojo-type="dijit.MenuItem" label="Menu Item 1.1"></span><span data-dojo-type="dijit.MenuItem" label="Menu Item 1.2"></span>